{% extends 'member/partials/base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="min-height: 780px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="card project-card">
                    <div class="card-body">
                        <div class="d-flex mb-4 align-items-start">
                            <div class="dz-media me-3">
                                <img src="{% static 'trxadmin/images/REFFFER.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="me-auto">
                                <p class="text-primary mb-1"> .</p>
                                <h5 class="title font-w600 mb-2"><a href="#" class="text-black">Refere And Earn</a></h5>
                                <span>Refere And Earn</span>
                            </div>
                            <span class="badge badge-success d-sm-inline-block d-none">Share</span>
                        </div>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae deleniti eaque quis vel quo eius harum ex aliquam, architecto cumque maxime ducimus minus rem amet nulla repellat animi dicta sint!</p>
                       
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card project-card">
                    <div class="card-body">
                        <div class="d-flex mb-4 align-items-start">
                            <div class="dz-media me-3">
                                <img src="../static/images/logos/pic2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="me-auto">
                                <p class="text-primary mb-1">#P-000441425</p>
                                <h5 class="title font-w600 mb-2"><a href="../post_details/index.html" class="text-black">Redesign Zenix Mobile App</a></h5>
                                <span>We Create Your Dream</span>
                            </div>
                            <span class="badge badge-info d-sm-inline-block d-none">Compeleted</span>
                        </div>
                        <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, recusandae nam, quidem ipsa sapiente, provident quae praesentium dolores vitae officia molestiae minus dicta officiis fugit hic id vero qui facere!</p>
                      
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}